/fdlp/java/IT_Academy/nbproject/private/
/fdlp/java/IT_Academy/build/
/fdlp/java/M7exercici2/nbproject/private/
/fdlp/java/M7exercici2/build/
/fdlp/java/M7exercici4/nbproject/private/
/fdlp/java/M7exercici3/nbproject/private/
/fdlp/java/M7exercici3/build/
/fdlp/java/M7exercici4/build/
/fdlp/java/M7exercici5/nbproject/private/
/fdlp/java/M7exercici5/build/
/fdlp/java/M7exerciciExtra/nbproject/private/
/fdlp/java/M7RuletaRussa/nbproject/private/
/fdlp/java/M7RuletaRussa/build/
/fdlp/java/AplicacionGrafica/nbproject/private/
/fdlp/java/AplicacionGrafica/build/
/fdlp/java/M7Cine/nbproject/private/
/fdlp/java/M7Cine/build/